.application-navbar {
    display: grid;
    grid-template-columns: auto auto;
}

.application-navbar-section {
    align-items: center;
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    margin: 0 10px;
}

.application-navbar-section-left {
    justify-content: flex-start;
}

.application-navbar-section-right {
    justify-content: flex-end;
}

.alert-log-line {
    background-color: rgba( 255, 195, 0, 0.3);
}

.button-link {
    color: #555;
}

.button-link:visited {
    color: #555;
}

.close-iframe-section {
    color: #555;
    font-weight: bold;
    height: 48px;
    margin-bottom: 2px;
    width: 100%;
}


.close-iframe-section:visited {
    color: #555;
}

.error-log-line {
    background-color: rgba( 255, 0, 0, 0.3);
}

body {
    bottom: 50px;
    left: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.close-button a {
    color: #555;
}

.close-button a:visited {
    color: #555;
}

.filter-dropdown {
    background-color: #fff;
    border: solid 1px #D6D9E0;
    max-height: 200px;
    min-height: 25px;
    overflow: auto;
    padding-bottom: 5px;
    position: relative;
    top: -12px;
    width: 100%;
    z-index: 1000;
}

.height-100pct {
    height: 100%;
}

/* Stop page scroll bar showing. */
html {
    overflow-y: hidden;
}

.is-200px-wide {
    width: 200px;
}

.log-output {
    border: solid 1px #777;
    height: 20em;
    overflow: auto;
    padding: 5px;
}

.overflow-auto {
    overflow: auto;
}

#password_card {
    margin-top: 175px;
}

.record-list {
    border-bottom: solid 1px #777;
    border-top: solid 1px #777;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding-top: 3px;
    position: absolute;
    right: 0;
    top: 122px;
}

.record-list-table {
    font-size: 1.2em;
}

.settings-panel {
    height: 80vh;
    overflow: auto;
}

.scrolling-container {
    overflow: auto;
}

#subpage_iframe {
    height: 100%;
    margin-top: 50px;
    width: 100%;
}

.table-row .table-column .buttons.hidden {
    display: none;
}

.table-row:hover {
    font-weight: bold;
}

.table-row:hover .table-column .buttons.hidden {
    display: block;
}

.table-row {
    background-color: #fff;
    display: grid;
    grid-template-columns: auto 200px;
}

.table-row:hover {
    background-color: rgba(250, 250, 250, 0.5);
}

.tag-filter-list-entry {
    margin: 5px 0;
    padding: 3px 0 3px 10px
}

.tag-selector-list {
    border: solid 1px #D6D9E0;
    max-height: 200px;
    overflow: auto;
}

.top-right-button {
    color: #555;
    position: absolute;
    right: 10px;
    top: 10px;
}

.top-right-button a {
    color: #555;
}

.top-right-button a:visited {
    color: #555;
}

.ui-section {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
